<li class="comment" id="<%= comment.commentable_type %>-<%= comment.id %>-comments-li">
  <div class="comment-wrap">
    <div class="avatar">
      <%= image_tag "avatar.png" %>
    </div>
    <div class="info">
      <h4><%= link_to comment.user.name, comment.user %></h4>
      <%= raw comment.content %>
    </div>
    <div class="meta">
      <span class="time_ago_in_words">
        <%= t "ago", time: time_ago_in_words(comment.created_at) %>
      </span>
      <% if user_signed_in? %>
        <a class="reply" data-toggle="collapse" href="#Comment-<%= comment.id %>-form" role="button" aria-expanded="false" aria-controls="Comment-<%= comment.id %>-form">
          <%= t ".reply" %>
        </a>
        <% if current_user.admin? %>
          <%= link_to t("delete"), comment_path(comment), method: :delete,
            remote: true, data: {confirm: t("delete_confirm")} %>
        <% end %>
      <% end %>
      <span id="toggle_replies_Comment_<%= comment.id %>">
        <% if comment.commentable %>
          <% if comment.comments.present? %>
            <%= link_to t(".show_replies", count: comment.all_comments.count), comment_comments_path(comment), remote: true %>
          <% end %>
        <% end %>
      </span>
    </div>
  </div>
  <% if user_signed_in? %>
    <%= render partial: 'comments/reply_form', locals: {comment: Comment.new(user_id: current_user.id, commentable: comment)} %>
  <% end %>
  <% if comment.commentable %>
    <ul class="children collapse show" id="Comment-<%= comment.id %>-comments-ul">
    </ul>
  <% end %>
</li>
