<div class="review-wrapper">
  <style>
    .review-info {
      <% if @review.banner.present? %>
        background-image: url(<%= asset_path @review.banner_url %>);
      <% else %>
        background-image: url(<%= asset_path "review.jpg" %>);
      <% end %>
    }
  </style>
  <div class="review-info">
    <div class="container">
      <div class="review-date">
        <span class="day"><%= l @review.created_at, format: :dd %></span>
        <span class="month"><%= l @review.created_at, format: :mmm_yyyy %></span>
      </div>
      <div class="review-meta">
        <h2 class="title"><%= @review.title %></h2>
        <ul class="meta">
          <li><i class="fas fa-user-circle"></i><%= @review.user.name %></li>
          <li>
            <i class="fas fa-film"></i>
            <%= link_to @review.film.name, @review.film %>
          </li>
          <% if @review.comments.present? %>
            <li class="review_comments_count">
              <i class="fas fa-comments"></i>
              <%= pluralize @review.all_comments_count, t(".comment") %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
  <div class="review-content">
    <div class="container">
      <div class="review-content-entry text-content">
        <%= raw @review.content %>
      </div>
      <div class="review-share">
        <span><%= t ".share" %></span>
        <%= render partial: "shared/social_share" %>
      </div>
      <div class="comments-wrapper">
        <% if @review.comments.present? %>
          <h3 class="review_comments_count heading">
            <%= pluralize @review.all_comments_count, t(".comment") %> <%= t ".on" %>
            "<%= @review.title %>"
          </h3>
        <% end %>
        <div class="comments-list">
          <ul id="Review-<%= @review.id %>-comments-ul">
            <% if @review.comments %>
              <% @comments = @review.comments.order_created_desc.paginate page: params[:page], per_page: Settings.reviews.comments.per_page %>
              <%= render partial: 'comments/comment', collection: @comments.preload(:comments).to_a %>
            <% end %>
          </ul>
          <%= will_paginate @comments if @comments %>
        </div>
        <%= if user_signed_in?
              render partial: "comments/comment_form",
                locals: {comment: @review.comments.build(user_id: current_user.id)}
            end %>
      </div>
    </div>
  </div>
</div>
